# Ignore Python byte-code
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.env
.env/

*.parquet

# Remove data
data/SQUAD/*.pt

data/UDA/*.pt

# Ignore large .pt files
data/SQUAD/sbert_cache/*.pt
data/SQUAD2/*.pt

*.png

