# Ignore Python byte-code
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.env
.env/

*.parquet
*.pt
*.pth

*.png

*.faiss
*.json
*.csv
*.faiss.meta.json
*.log

*:Zone.Identifier